# Day 1: Python Basics

In [1]:
print("hello world!")

hello world!

In [2]:
"hello world"

'hello world'

# Variables

In [6]:
x = 5

In [4]:
x

5

In [7]:
x = 7
print(type(x))

<class 'int'>

In [8]:
x = 7
print(type(x))

x = "hello"
print(type(x))

<class 'int'>
<class 'str'>

In [13]:
a = 1.0
print(type(a))

<class 'float'>

In [10]:
b = True
print(type(b))

<class 'bool'>

In [11]:
c = [1,2,3]
print(type(c))

<class 'list'>

In [12]:
d = (1,2,3)
print(type(d))

<class 'tuple'>

# Operators, Types and Casting

In [14]:
4 + 5

9

In [15]:
5 - 7

-2

In [16]:
type(5+7), type(4-6), type(4*7)

(int, int, int)

In [17]:
type(4/2)

float

In [18]:
float(3)

3.0

In [19]:
float(4), int(3.7)

(4.0, 3)

In [20]:
int(False)

0

In [21]:
int(True)

1

In [22]:
bool(1)

True

In [23]:
bool(0)

False

In [24]:
bool(100)

True

In [25]:
bool(-100)

True

In [26]:
bool(9.0)

True

In [27]:
int("error")

ValueError: invalid literal for int() with base 10: 'error'

In [28]:
int("50")

50

In [29]:
float("50.5")

50.5

In [30]:
float("fifty")

ValueError: could not convert string to float: 'fifty'

In [31]:
str(5)

'5'

In [32]:
str(4.8)

'4.8'

In [33]:
2**4

16

In [34]:
4**0.5

2.0

In [36]:
list1 = [1,3,4,6]
list2 = [2,3,5]
list1 + list2

[1, 3, 4, 6, 2, 3, 5]

In [37]:
list1 * list2

TypeError: can't multiply sequence by non-int of type 'list'

In [38]:
list1 / list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [39]:
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [40]:
(1,2,4) + (1,3,5)

(1, 2, 4, 1, 3, 5)

In [41]:
type((1,2,4))

tuple

# Booleans Operations

In [42]:
a = True
a

True

In [43]:
True or False

True

In [45]:
True & False

False

In [46]:
False and True

False

In [47]:
False is False

True

In [48]:
False == False

True

In [49]:
5 is 2

False

In [50]:
5 > 4

True

In [57]:
x = [1,2,3]
y = [1,2,3]
x == y

True

In [58]:
5 != 2

True

In [59]:
4 is not 3

True

In [60]:
"hello" is "world"

False

In [62]:
"hello" is "hello"

True

In [63]:
"hello" == "hello"

True

In [64]:
"hello" is 33

False

In [66]:
(2,3,4) is [2,3,4]

False

In [67]:
3 in (2,3,4)

True

In [68]:
(1,2,3) is (1,2,3)

False

# If Else

In [69]:
if True:
    print("this is true!")

this is true!

In [70]:
a = True
if a:
    print("this is true!")

this is true!

In [71]:
a = True
b = False
if a or b:
    print("this is true!")

this is true!

In [72]:
a = True
b = False
if a and b:
    print("this is true!")

In [75]:
if True and False or True or False: print("is this True")

is this True

In [76]:
if (True and False or True) or False: 
    print("is this True")

is this True

In [80]:
if False:
    print("is this True")
print("not in block")

not in block

In [81]:
if False:
    "bla"
else:
    print("hello")

hello

In [83]:
if False:
    "bla"
elif True:
    print("hello")
elif True:
    print("also true")
else:
    print("else")

hello

# Strings

In [84]:
a = "this is a string"
a

'this is a string'

In [85]:
b = 'this is also a string'
type(a), type(b)

(str, str)

In [86]:
a + b

'this is a stringthis is also a string'

In [87]:
name = "jason"
print("this is "+name)

this is jason

In [90]:
x = "jason "*3
x

'jason jason jason '

# Lists

In [117]:
list1 = [1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [98]:
list2= list((2,4,5)) # list from tuple
list2

[2, 4, 5]

In [100]:
list3= list([4,4,5]) # list from list
list3

[4, 4, 5]

In [102]:
list4 = [3,5,6,7]*4
list4

[3, 5, 6, 7, 3, 5, 6, 7, 3, 5, 6, 7, 3, 5, 6, 7]

In [105]:
len(list4)

16

In [106]:
len(list1)

5

In [107]:
list1

[1, 2, 3, 4, 5]

In [118]:
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

In [119]:
list1.append("this is not a number")

In [121]:
list1.append(True)

In [122]:
list1

[1, 2, 3, 4, 5, 6, 'this is not a number', True]

In [125]:
list1[6]

'this is not a number'

In [126]:
del list1[6]

In [127]:
list1

[1, 2, 3, 4, 5, 6, True]

In [128]:
list1.remove(2)

In [129]:
list1

[1, 3, 4, 5, 6, True]

In [132]:
list1.append(2)

In [133]:
list1

[1, 3, 4, 5, 6, True, 2, 2, 2]

In [134]:
list1.remove(2)

In [135]:
list1

[1, 3, 4, 5, 6, True, 2, 2]

In [136]:
list1.remove(7)

ValueError: list.remove(x): x not in list

In [139]:
x = list1.pop(2)

(5, [1, 3, 6, True, 2, 2])

In [140]:
list1

[1, 3, 6, True, 2, 2]

# List indexing and sclicing

In [143]:
list1 = [2,3,4]
list1

[2, 3, 4]

In [142]:
list1 = [34,67]
list1

[34, 67]

In [144]:
list1

[2, 3, 4]

In [145]:
list1[1]

3

In [146]:
list1[0:2]

[2, 3]

In [147]:
list1

[2, 3, 4]

In [148]:
x = [2,3,4,6]*2
x

[2, 3, 4, 6, 2, 3, 4, 6]

In [149]:
x[1:4]

[3, 4, 6]

In [150]:
x[len(x)-1]

6

In [151]:
x[-1]

6

In [153]:
x

[2, 3, 4, 6, 2, 3, 4, 6]

In [161]:
x[2:1]

[]

In [163]:
x[1:7:2]

[3, 6, 3]

In [168]:
x[-2:-5:-1]

[4, 3, 2]

In [170]:
x = [0,1,2,3,4,5,6,7,8,9]

In [171]:
x[1:5:2]

[1, 3]

In [174]:
x[1::2]

[1, 3, 5, 7, 9]

In [173]:
x[::-2]

[9, 7, 5, 3, 1]

In [175]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [176]:
x[7:-5:-3]

[7]

# Tuples

In [1]:
a = (1,4,6)

In [2]:
a[1]

4

In [3]:
x = (1,2,3,4,5,6)

In [4]:
x[1:3]

(2, 3)

In [5]:
x = [[1,2,3],3,3]

In [6]:
x

[[1, 2, 3], 3, 3]

In [9]:
y = x

# Loops

In [11]:
condition = True

while condition:
    print("hello world")
    condition = False

hello world

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for x in ["jungi", "immanuel", "nick"]:
    print("hello "+x+"!")
print(x)

hello jungi!
hello immanuel!
hello nick!
nick

In [19]:
for y in ("hello", 7, True):
    print(y)

hello
7
True

# Functions

In [22]:
def myfunction():
    
    print("hello world")
    return 6

In [23]:
myfunction()

hello world

6

In [29]:
def myfunc(jjj):
    
    yyy = 9
    print(jjj)

In [30]:
myfunc("hello world")

hello world

In [31]:
jjj

NameError: name 'jjj' is not defined

In [32]:
yyy

NameError: name 'yyy' is not defined

In [34]:
def myfunc2(x,y,f,c):
    print(c)

In [42]:
def myfunc2(x=2):
    print(x)

In [43]:
myfunc2()

2

In [38]:
myfunc2(3)

3

In [40]:
def myfunc3(x):
    print(x)

In [41]:
myfunc3()

TypeError: myfunc3() missing 1 required positional argument: 'x'

In [56]:
def myfunc4():
    
    return 4,45,"dfg"

In [59]:
x,y,z = myfunc4()

In [60]:
type(x)

int

# String Modification

In [64]:
len("Jason,is,my,instructor".split(","))

4

In [67]:
"this is "+"a "+"string"

'this is a string'

In [70]:
"".join(["Zino","Peter","Vincent"])

'ZinoPeterVincent'

In [72]:
"my string is a old string".find("old string1")

-1

In [73]:
"my string" in "my string is a old string"

True

In [74]:
"WHY SO SERIOUS".lower()

'why so serious'

In [76]:
'why so serious'.upper()

'WHY SO SERIOUS'

In [77]:
'why so serious'.isnumeric()

False

In [78]:
"50".isnumeric()

True

In [81]:
"50".isalpha()

False

In [82]:
"str".isalpha()

True

In [85]:
ord("A")

65

In [86]:
len("hahahahaha")

10

In [92]:
a = "hahahaha"

"baa">"baa"

False