In [1]:
x = 12

In [2]:
y = 45

In [3]:
x*y

540

In [5]:
x = int(input("please write x \n"))
y = int(input('please write y \n'))
print("Your results is " + str(x*y))

please write x
2
please write y
2
Your results is 4

In [6]:
def print_hello_world(name):
    print("Hello world " + name)

In [7]:
print_hello_world("Mahmoud")

Hello world Mahmoud

In [9]:
def print_hello_world(name):
    print("Hello world " + name)
    print("Hello world", name)
    print("Hello world %s" % name)
    print(f"Hello world"{name})

SyntaxError: invalid syntax (<ipython-input-9-e0ec54a41a75>, line 5)

In [22]:
def print_hello_world_2(name):
    if name == "Mahmoud":
        print('Hello instructor')
    elif name == 'mahmoud':
        print('Hello instructor')
    else:
        print('Hello student')

In [17]:
print_hello_world_2('Mahmoud')

Hello instructor

In [18]:
print_hello_world_2('Zhang')

Hello student

In [25]:
print_hello_world_2('mahmoud')

Hello instructor

In [24]:
def print_hello_world_2(name):
    if name == "Mahmoud" or name == 'mahmoud':
        print('Hello instructor')
    else:
        print('Hello student')

In [28]:
for i in range(5):
    print('Hello world', i)

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4

In [29]:
# comments

In [30]:
x = [1,2,4,45,5,6,98,91,100]

In [31]:
def mutiply_based_on_input():
    x = int(input("please write x \n"))
    y = int(input('please write y \n'))
    print("Your results is " + str(x*y))
for i in range(3):
    mutiply_based_on_input()

please write x
12
please write y
12
Your results is 144
please write x
12
please write y
1
Your results is 12
please write x
21
please write y
12
Your results is 252

In [32]:
var_str = "Hello"
var_int = 5
var_float = 5.5
var_list = [2,3,4,5,6,6]

In [33]:
var_list

[2, 3, 4, 5, 6, 6]

In [36]:
var_list = [2,'asd']

In [37]:
var_list

[2, 'asd']

In [38]:
var_list.append(45)

In [39]:
var_list

[2, 'asd', 45]

In [40]:
var_list.pop(1)

'asd'

In [41]:
var_list

[2, 45]

In [44]:
mylist = []
for i in range(101):
    mylist.append(i)
for i in mylist:
    if i > 5:
        print(i)

6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [43]:
mylist

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Your exercise:
## 1. Make a list with all numbers between 0 and 100

## 2. Iterate over this list and print all the numbers higher than 5 (one in each line)