# 1.kNN clustering on Retail data for customer segmentation
![Binary classification](ressources/customers.jpeg)


## About the dataset:
Online retail is a transactional data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail. The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

## Business Goal
We aim to segement the Customers based on k-means so that the company can target its customers efficiently.

## Your tasks:
## Please implement it in the following oder:


1. Load and explore the dataset: 
    - Count number of purchases by customer ID
    - Plot 10 most-purchasing customers(barplot) - Quantity
    
    
2. Split data into train- and testset(80%/20% ratio)


3. EDA - Feature Engineering:
    - Use data to build the following new features which we will use for clustering: 
        1. Monetary: Total amount(revenue contributed) of transactions: 
                -userpurchases(amount) * unit price
        2. Frequency: Number of transactions
                - count number of user purchases
    - NOTE: At the end of above step you should have a table, where each row represents a user ID, with the 2 specified features from above
    - Mean-center and standardize the data
        - check out: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
    - Plot the data
    ## OUTLIERS!
    - Remove outliers with the given function
    - Plot the cleaned data
    
    
4. Apply kNN on the dataset:
    - Cluster the training data
    - Scatterplot the data and color each point depending on its cluster
    - Try to use different numbers of clusters centres k

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

import sklearn
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [2]:
data = pd.read_csv('data/OnlineRetail.csv', encoding='latin')
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [5]:
data = data.dropna()

In [6]:
# Changing the datatype of Customer Id as per Business understanding
data['CustomerID'] = data['CustomerID'].astype(str)

In [10]:
# Monetary feature

# TODO

In [11]:
# Frequency feature

# TODO

In [ ]:
new_df = # TODO

In [12]:
# Rescale the attributes

# TODO

In [13]:
# Plot the data and observe outliers

# TODO

In [12]:
### USE THIS FUNCTION TO REMOVE OUTLIERS AFTER STANDARDIZING THE DATA
from scipy import stats

def remove_outliers(df, thresh):
    
    z_scores = np.abs(stats.zscore(df))
    df = df[(z_scores < thresh).all(axis=1)]
    
    return df
    
clean_df = remove_outliers(final_data, 3)

In [15]:
# Plot the data again and see that it looks much better now

# TODO

In [ ]:
# Apply KMEANS

# TODO

In [16]:
# Plot the clustered data

# TODO

# Q2.: Dimensionality Reduction

# OPTIONAL TASK:
### Do:
    - create your own 3 features of choice out of original data
    - apply PCA on it, and extract the first 2 components
    - plot the data projected onto these two components
    - apply kmeans, does it work better than the former method